.cellframe {
  position: relative;
  border-radius: 5px;
  background-color: var(--bg-white--fade-90);
  padding: 1em;
  margin: 10px auto;

  width: 60%;
  min-width: 300px;
  box-shadow: 0px 0px 1px lightgray;
}

.cellframe:first-child {
  margin-top: 50px;
}

@media screen and (min-width: 835px) {
  .cellframe:first-child {
    margin-top: 60px;
  }
}
@media screen and (max-width: 500px) {
  .cellframe {
    width: 80%;
  }
}

.answercount {
  font-style: italic;
}

/* ok */
